body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	color: #333;
}

.container {
	display: grid;
	align-items: center;
	margin: 20px;
}

.row {
	padding: 10px;
}

#root {
	min-height: 100px;
}

.jobs-listing {
	display: flex;
	flex-wrap: wrap;
}

.jobs-total {
	width: 100%;
}

.item {
	flex: 0 0 33.3%;
	max-width: 33.3%;
}
